http.client strange trailers handling

When trying to connect to etcd with `http_client` error message and error status
is usually returned in the `header` section.  However HTTP2 protocol offers another
way to return response status using trailers.  Now http_client detects trailers but
it seems like it does not decodes them.

* OS: [Linux]
* OS Version: [Ubuntu]
* Architecture: [amd64]

Tarantool 3.1.0-entrypoint-828-gd1fbf911f7

To reproduce I run etcd client with locally created by etcd_client SSL sertificate and key:
```
etcd --cert-file=/root/etcd-client/test/data/localhost.crt --key-file=/root/etcd-client/test/data/localhost.key  --advertise-client-urls=https://127.0.0.1:2379 --listen-client-urls=https://127.0.0.1:2379
```
After this I create `http_client` instance and form a post request with protobuf request:
```
http_client = require('http.client')
client = http_client.new()
encoded = string.fromhex('000000001830010a0b6b65795f30303030303031120776616c75655f32')
http_opts = {
    ca_file = "/root/etcd-client/test/data/ca.crt",
    headers = {["content-type"] = "application/grpc+proto"},
    http_version = "2-prior-knowledge",
    keepalive_idle = 60,
    keepalive_interval = 60,
    timeout = 10,
    verbose = true,
    verify_host = false,
    verify_peer = false,
}
client:post('https://localhost:2379/etcdserverpb.KV/Put', encoded, http_opts)
```
Encoded string contains attempt to bump a value of non-exist key with {ignore_lease = true}.
This operation is incorrect and expected to return `grpc_status=3` and `grpc_message='etcdserver: key not found`.
But this data is encoded in trailers and in `http_client` response now contains only an information about trailers presence in header section:
```
* HTTP/2 found, allow multiplexing
< HTTP/2 200
< content-type: application/grpc+proto
< trailer: Grpc-Status
< trailer: Grpc-Message
< trailer: Grpc-Status-Details-Bin
<
< grpc-message: etcdserver: user name is empty
< grpc-status: 3
* sendrecv_dl: we are done
* nread == 0, stream closed, bailing
* STATE: PERFORMING => DONE handle 0x5565402d51e8; line 2471
* multi_done[DONE]: status: 0 prem: 0 done: 0
* Connection #1 to host localhost left intact
* Expire cleared
---
- reason: Ok
  status: 200
  url: https://localhost:2379/etcdserverpb.KV/Put
  proto:
  - 2
  - 0
  headers:
    content-type: application/grpc+proto
    trailer: Grpc-Status,Grpc-Message,Grpc-Status-Details-Bin
```
As described in HTTP2 [RFC](https://datatracker.ietf.org/doc/html/rfc9110#name-trailer-fields) A recipient MUST NOT merge a trailer field into a header section unless the recipient understands the corresponding header field definition and that definition explicitly permits and defines how trailer field values can be safely merged. But for trailers `Grpc-Status`, `Grpc-Message` and `Grpc-Status-Details-Bin` as for me we can define safe merge into headers.

We shouldn't add any domain-specific logic into the general-purpose HTTP client. I propose to collect the trailers into a table with the same shape as `headers` and place it into the `trailers` field.

So, the response object will be like the following:

```lua
{
    reason = 'Ok',
    status = 200,
    url = <...>,
    proto = {2, 0},
    headers = <...>,
    trailers = <...>, -- !!
}
```

It seems similar to what Go's net/http [performs](https://pkg.go.dev/net/http#Response):

```go
type Response struct {
	<...>

	// Header maps header keys to values. If the response had multiple
	// headers with the same key, they may be concatenated, with comma
	// delimiters.  (RFC 7230, section 3.2.2 requires that multiple headers
	// be semantically equivalent to a comma-delimited sequence.) When
	// Header values are duplicated by other fields in this struct (e.g.,
	// ContentLength, TransferEncoding, Trailer), the field values are
	// authoritative.
	//
	// Keys in the map are canonicalized (see CanonicalHeaderKey).
	Header Header

	<...>

	// Trailer maps trailer keys to values in the same
	// format as Header.
	//
	// The Trailer initially contains only nil values, one for
	// each key specified in the server's "Trailer" header
	// value. Those values are not added to Header.
	//
	// Trailer must not be accessed concurrently with Read calls
	// on the Body.
	//
	// After Body.Read has returned io.EOF, Trailer will contain
	// any trailer values sent by the server.
	Trailer Header

	<...>
}
```